---
title: Ricing your own arch linux 
description: Hyprland and alacritty zsh with starlight etc
date: '2023-4-16'
categories:
  - sveltekit
  - svelte
published: true
---

## Svelte

Media inside the **static** folder is served from `/`.

![Svelte](favicon.png)
