---
title: College is a huge shit show 
description: In this blog i will share my experience on how CS colleges are a shit show 
date: '2023-4-16'
categories:
  - ricing
  - archlinux
published: true
---

## Svelte

Media inside the **static** folder is served from `/`.

![Svelte](favicon.png)
